*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}

/* Background Gradasi dengan Pola Transparan */
body {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: poppins, sans-serif;
    color: #333;
}

/* Tambahan Pola Transparan */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://www.transparenttextures.com/patterns/hexellence.png'); /* Link pattern transparan */
    opacity: 0.1; /* Mengatur ketebalan pola */
    pointer-events: none; /* Agar pola tidak mengganggu klik */
    z-index: -1;
}

.hero-header {
    background-image: url('sean-oulashin-KMn4VEeEPR8-unsplash.jpg'); /* Ganti dengan path gambar Anda */
    background-size: cover; /* Mengatur gambar agar menutupi seluruh area */
    background-position: center; /* Mengatur posisi gambar di tengah */
    height: 100vh; /* Atur tinggi sesuai kebutuhan */
    display: flex; /* Untuk menggunakan flexbox */
    align-items: center; /* Vertikal center */
    justify-content: center; /* Horizontal center */
    color: rgb(0, 0, 0); /* Ubah warna teks jika perlu agar kontras dengan latar belakang */
}
.wrapper{
    width:1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    height: 45px;
    width:45px;
    background-color: #ffffff;
    border-radius: 50%;
    color:#000000;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color:#000000;
}

header {
    background-color: rgba(255, 253, 253, 0); /* Warna putih dengan transparansi 70% */
    position: fixed; /* Agar tetap di atas saat scroll */
    width: 100%; /* Mengatur lebar penuh */
    z-index: 1000; /* Agar tetap di atas elemen lain */
    padding: 10px 20px; /* Tambahkan padding sesuai kebutuhan */
    box-shadow: #ffffff56;
}


nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top:45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width:100%;
    height:3px;
    transition: 0.3s;
    transition-property: transform, opacity;

}
nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;
}
nav .navlinks li a {
    color: #000000;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease; /* Transisi untuk semua properti */
    position: relative; /* Posisi relatif untuk efek garis bawah */
}

nav .navlinks li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #007ced; /* Warna garis bawah */
    transition: width 0.3s ease, left 0.3s ease; /* Transisi untuk garis bawah */
}

nav .navlinks li a:hover {
    background-color: rgba(0, 126, 237, 0.2);
    transform: scale(1.1) translateY(-2px); /* Efek skalasi dan timbul saat hover */
    box-shadow: 0 4px 20px rgba(0, 126, 237, 0.3); /* Tambahkan bayangan */
}

nav .navlinks li a:hover::after {
    width: 100%; /* Memperluas garis bawah saat hover */
    left: 0; /* Pindahkan garis bawah ke kiri */
}

nav .navlinks li a.active {
    background-color: rgba(0, 126, 237, 0.5);
    transform: translateY(2px);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:4rem;
}
.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}
.hero-pic img{
    height: 100%;
    width:100%;
    transition: 0.5s;
}
.hero-pic img:hover{
    transform: scale(1.2);
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 500px;
}
.hero-text h5{
    color:#000000;
    font-size: 14px;
}
.hero-text h5 span{
    color:#007ced;
    font-size: 16px;
}
.hero-text h1{
    color: #007ced;
    font-size: 3rem;
}


.section {
    padding: 0px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.142); /* Warna putih dengan transparansi 80% */
    padding: 50px 20px; /* Tambahkan padding sesuai kebutuhan */
    margin: 20px 0; /* Tambahkan margin untuk jarak antar bagian */
    border-radius: 10px; /* Tambahkan border-radius jika diinginkan */
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.portfolio-item {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.portfolio-item h3 {
    color: #007ced;
    margin: 15px 0 10px;
}

.portfolio-item p {
    color: #e5e5e5;
    font-size: 0.9rem;
}

.portfolio-item .btn {
    display: inline-block;
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007ced;
    color: #fff;
    text-decoration: none;
}

.portfolio-item .btn:hover {
    background-color: #005bb5;
}

.hero-text p{
    color:#000000;

}
.btn-group{
    margin:45px 0;
    display: flex;
}
.btn-group .btn{
    border-color: #d5d5d5;
    color:#000000;
    background-color: #ffffff00;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right:7px;
    border-radius: 30px;
    border:2px solid #000000;
    box-shadow:  0 10px 10px -8px rgb(0 0 0 / 78%);
}


.hero-text .social i{
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}

.hero-text .social i:hover{
    color:#007ced;
    transform: rotate(360deg);
}

/* Gaya Umum untuk Section */
.section {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.wrapper h2 {
    font-size: 2.5rem;
    color: #007ced;
    margin-bottom: 30px;
    text-align: center;
}

.resume-section {
    margin-bottom: 40px;
}

.resume-section h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}

.job, .education, .certificate, .project {
    margin-bottom: 20px;
}

.job h4, .education h4, .certificate h4, .project h4 {
    font-size: 1.5rem;
    color: #007ced;
    margin-bottom: 5px;
}

.job p, .education p, .certificate p, .project p {
    color: #555;
    line-height: 1.6;
}

.job em, .education em, .certificate em {
    color: #777;
    font-style: italic;
}

/* Desain Blog Section */
#blog {
    background-color: #f8f8f8;
    padding: 50px 0;
}

#blog h2 {
    font-size: 3rem;
    color: #007ced;
    margin-bottom: 20px;
}

#blog p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
}

.blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.blog-post {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-post:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.blog-post img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.blog-post h3 {
    color: #007ced;
    font-size: 1.8rem;
    margin: 15px 0;
}

.blog-post p {
    color: #666;
    font-size: 1rem;
    line-height: 1.6;
}

.blog-post .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007ced;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.blog-post .btn:hover {
    background-color: #005bb5;
}

/* Styling for the Contact Section */
#contact {
    background-color: #f8f8f8;
    padding: 50px 0;
}

#contact h2 {
    font-size: 3rem;
    color: #007ced;
    margin-bottom: 20px;
}

#contact p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.info-item {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.info-item i {
    font-size: 2.5rem;
    color: #007ced;
    margin-bottom: 10px;
}

.info-item h3 {
    color: #007ced;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.info-item p {
    color: #555;
    font-size: 1rem;
}

.contact-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.contact-form h3 {
    font-size: 2rem;
    color: #007ced;
    margin-bottom: 20px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 5px;
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-form button {
    background-color: #007ced;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #005bb5;
}

/* For responsiveness */
@media(max-width: 768px) {
    .contact-info {
        flex-direction: column;
        align-items: center;
    }

    .info-item {
        width: 80%;
        margin-bottom: 20px;
    }

    .contact-form {
        width: 80%;
    }
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #555;
}

ul li {
    margin-bottom: 10px;
}


.job, .education, .certificate, .project {
    margin-bottom: 20px;
}

.job h4, .education h4, .certificate h4, .project h4 {
    font-size: 1.5rem;
    color: #007ced;
    margin-bottom: 5px;
}

.job p, .education p, .certificate p, .project p {
    color: #555;
    line-height: 1.6;
}

.job em, .education em, .certificate em {
    color: #777;
    font-style: italic;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #555;
}

ul li {
    margin-bottom: 10px;
}

/* Respnosiv design & displaying navbar for small screen */
@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    /* for toggle button**/
    .click {
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top:12px
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2)
    {
        opacity: 0;
        margin:0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top:0;
    }
    nav .navlinks{
        position: absolute;
        top:110px;
        right:-100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right:0;
    }
}

/* Gaya untuk Judul Utama Resume */
#resume h2 {
    font-size: 3rem;
    color: #007ced;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    border-bottom: 3px solid #007ced;
    display: inline-block;
    padding-bottom: 10px;
}

/* Gaya Section Resume */
.resume-section {
    margin-bottom: 50px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resume-section:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

/* Gaya untuk Sub-Judul Setiap Section */
.resume-section h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    position: relative;
    padding-left: 20px;
    font-weight: 600;
}

.resume-section h3::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    background-color: #007ced;
    border-radius: 50%;
    transform: translateY(-50%);
}

/* Gaya Konten untuk Pekerjaan, Pendidikan, dan Lainnya */
.resume-section .job, 
.resume-section .education, 
.resume-section .certificate, 
.resume-section .project {
    margin-bottom: 25px;
}

.resume-section h4 {
    font-size: 1.5rem;
    color: #007ced;
    font-weight: 500;
    margin-bottom: 8px;
}

.resume-section p {
    color: #555;
    line-height: 1.7;
}

.resume-section .date {
    font-size: 0.9rem;
    color: #777;
    font-style: italic;
    margin-bottom: 10px;
}

/* Gaya untuk Daftar Keterampilan */
.resume-section ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #555;
}

.resume-section ul li {
    margin-bottom: 8px;
}

@media(max-width:768px)
{
    .container{
        flex-direction: column;
        padding-top:2rem
    }
    .hero-text{
        padding:40px 0px;
    }
}

@keyframes backgroundMove {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}

body {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-size: 200% 200%;
    animation: backgroundMove 10s infinite alternate;
}
